<div>
    <header>Task Header</header>
    <div style="display: flex; height: 100vh; align-items: center; flex-wrap: wrap; margin: auto 10px; width: 100%; justify-content: space-around;" class="main">
        <div class="debit">
            <app-debit [cardNumber]="cardNumber" [cardHolder]="cardHolder" [expiryDate]="expiryDate" [cvvNumber]="cvvNumber"></app-debit>
        </div>
        <div class="form">
            <app-form (formValChange)="onFormChange($event)"></app-form>
        </div>
    </div>
</div>